@page
@model ratemyprofessors.Pages.Admin.Accounts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.ID" />
            <div class="form-group">
                <label asp-for="Account.UserName" class="control-label"></label>
                <input asp-for="Account.UserName" class="form-control" />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.PassWord" class="control-label"></label>
                <input asp-for="Account.PassWord" class="form-control" />
                <span asp-validation-for="Account.PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" />
                <span asp-validation-for="Account.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.LastName" class="control-label"></label>
                <input asp-for="Account.LastName" class="form-control" />
                <span asp-validation-for="Account.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Emain" class="control-label"></label>
                <input asp-for="Account.Emain" class="form-control" />
                <span asp-validation-for="Account.Emain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.RegistarationDate" class="control-label"></label>
                <input asp-for="Account.RegistarationDate" class="form-control" />
                <span asp-validation-for="Account.RegistarationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Account.ISAdmin" /> @Html.DisplayNameFor(model => model.Account.ISAdmin)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
