@font-face {
    font-family: 'YekanWeb';
    src: url('Fonts/Yekan/Yekan.eot');
    src: url('Fonts/Yekan/Yekan.ttf') format('truetype'), url('Fonts/Yekan/Yekan.woff') format('woff'), url('Fonts/Yekan/yekannumbers-regular.ttf') format('truetype'), url('Fonts/Yekan/yekannumbers-regular.woff') format('woff')
}
@font-face {
    font-family: 'hdvhksks';
    src: url('Fonts/IranSans/hdvhksks.ttf');
}
@font-face {
    font-family: 'Roya';
    src: url('Fonts/Roya/BRoya.ttf');
}
.TopContainerOpen, .inputFomr {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.35),0 6px 20px 0 rgba(0,0,0,.29);
    border-radius: 5px
}

.ProfAndCourse, code {
    cursor: pointer
}

.ContainerButton, .HomeContent, .IconCenter, .PPP, .footercontent {
    text-align: center
}

body {
    padding-top: 50px;
    font-family: hdvhksks,YekanWeb,Roya, Tahoma;
    direction: rtl
}
.MySuccess {
    color: rgb(47, 224, 85);
}
.NegetiveRate {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
code:hover {
    text-decoration: underline;
    font-size: 35px
}

.ShareLogoImg {
    width: 35px;
    height: 35px;
    margin: 3px 10px
}

    .ShareLogoImg:hover {
        animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0,0,0);
        backface-visibility: hidden;
        perspective: 1000px
    }

.IconCenter {
    margin: auto
}

@keyframes shake {
    10%,90% {
        transform: translate3d(-1px,0,0)
    }

    20%,80% {
        transform: translate3d(2px,0,0)
    }

    30%,50%,70% {
        transform: translate3d(-4px,0,0)
    }

    40%,60% {
        transform: translate3d(4px,0,0)
    }
}

.inputFomr {
    margin: auto;
    background-color: rgba(0,0,0,.45);
    width: 50%;
    padding: 10px;
    color: #f5f5f5
}

.TopContainerClose, .TopContainerOpen {
    color: #000;
    z-index: 10;
    position: relative
}

.CenterFormElement {
    width: auto;
    display: block;
    margin: auto
}

@media only screen and (max-width:768px) {
    .inputFomr {
        width: 90%
    }
}

.ContactBack {
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    background-image: url(imgs/contactImagejpg.jpg);
    width: 100%;
    height: 100%
}

.PPP {
    font-size: 17px
}

.MyContainer {
    margin: auto;
    padding: 10px 30px
}

.TopContainerOpen {
    background-color: rgba(245,245,245,.25)
}

.TopContainerClose {
    border: 1px solid rgba(0,0,0,.35);
    border-radius: 5px
}

.ContainerButton {
    width: 100%;
    padding: 10px 2px 2px;
    height: 35px;
    background-color: rgba(52,152,219,.2)
}

    .ContainerButton:hover {
        width: 100%;
        text-align: center;
        padding: 7px 2px 2px;
        background-color: rgba(52,152,219,.5);
        cursor: pointer
    }

.InnerElementColse {
    width: 100%;
    height: 0;
    -webkit-animation-name: InnerClose;
    -webkit-animation-duration: 1s;
    animation-name: InnerClose;
    animation-duration: 1s;
    overflow: hidden
}

.ButtomContainerClose, .InnerElementOpen {
    -webkit-animation-duration: 1s;
    overflow: hidden
}

.InnerElementOpen {
    width: 100%;
    height: 590px;
    -webkit-animation-name: InnerOpen;
    animation-name: InnerOpen;
    animation-duration: 3s
}

.SubmitCommentButton {
    width: 100%
}

@-webkit-keyframes InnerClose {
    from {
        height: 590px
    }

    to {
        height: 0
    }
}

@keyframes InnerClose {
    from {
        height: 590px
    }

    to {
        height: 0
    }
}

@-webkit-keyframes InnerOpen {
    from {
        height: 0
    }

    to {
        height: 590px
    }
}

@keyframes InnerOpen {
    from {
        height: 0
    }

    to {
        height: 590px
    }
}

.ButtomContainerClose {
    position: relative;
    top: 0;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    -webkit-animation-name: ButtomClose;
    animation-name: ButtomClose;
    animation-duration: 1s
}

.ButtomContainerOpen, .FooterAnimColse {
    -webkit-animation-duration: 1s;
    position: relative
}

.ButtomContainerOpen {
    top: -590px;
    overflow: hidden;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-animation-name: ButtomOpen;
    animation-name: ButtomOpen;
    animation-duration: 3s
}

@-webkit-keyframes ButtomOpen {
    from {
        top: 0
    }

    to {
        top: -590px
    }
}

@keyframes ButtomOpen {
    from {
        top: 0
    }

    to {
        top: -590px
    }
}

@-webkit-keyframes ButtomClose {
    from {
        top: -590px
    }

    to {
        top: 0
    }
}

@keyframes ButtomClose {
    from {
        top: -590px
    }

    to {
        top: 0
    }
}

.FooterAnimColse {
    top: 0;
    -webkit-animation-name: ButtomClose;
    animation-name: ButtomClose;
    animation-duration: 1s
}

.FooterAnimOpen {
    position: relative;
    top: -590px;
    -webkit-animation-name: ButtomOpen;
    -webkit-animation-duration: 3s;
    animation-name: ButtomOpen;
    animation-duration: 3s
}

@media only screen and (max-width:768px) {
    h3{
        font-size:20px;
    }
    .InnerElementColse {
        width: 100%;
        height: 0;
        -webkit-animation-name: InnerClose;
        -webkit-animation-duration: 1s;
        animation-name: InnerClose;
        animation-duration: 1s;
        overflow: hidden
    }

    .ButtomContainerClose, .InnerElementOpen {
        -webkit-animation-duration: 1s;
        overflow: hidden
    }

    @-webkit-keyframes InnerClose {
        from {
            height: 1000px
        }

        to {
            height: 0
        }
    }

    @keyframes InnerClose {
        from {
            height: 1000px
        }

        to {
            height: 0
        }
    }

    @-webkit-keyframes InnerOpen {
        from {
            height: 0
        }

        to {
            height: 1000px
        }
    }

    @keyframes InnerOpen {
        from {
            height: 0
        }

        to {
            height: 1000px
        }
    }

    .InnerElementOpen {
        width: 100%;
        height: 1000px;
        -webkit-animation-name: InnerOpen;
        animation-name: InnerOpen;
        animation-duration: 3s
    }

    .ButtomContainerClose {
        position: relative;
        top: 0;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
        -webkit-animation-name: ButtomClose;
        animation-name: ButtomClose;
        animation-duration: 1s
    }

    .ButtomContainerOpen, .FooterAnimColse {
        -webkit-animation-duration: 1s;
        position: relative
    }

    .ButtomContainerOpen {
        top: -1000px;
        overflow: hidden;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        -webkit-animation-name: ButtomOpen;
        animation-name: ButtomOpen;
        animation-duration: 3s
    }

    @-webkit-keyframes ButtomOpen {
        from {
            top: 0
        }

        to {
            top: -1000px
        }
    }

    @keyframes ButtomOpen {
        from {
            top: 0
        }

        to {
            top: -1000px
        }
    }

    @-webkit-keyframes ButtomClose {
        from {
            top: -1000px
        }

        to {
            top: 0
        }
    }

    @keyframes ButtomClose {
        from {
            top: -1000px
        }

        to {
            top: 0
        }
    }

    .FooterAnimColse {
        top: 0;
        -webkit-animation-name: ButtomClose;
        animation-name: ButtomClose;
        animation-duration: 1s
    }

    .FooterAnimOpen {
        position: relative;
        top: -885px;
        -webkit-animation-name: ButtomOpen;
        -webkit-animation-duration: 3s;
        animation-name: ButtomOpen;
        animation-duration: 3s
    }
}

.ResendEmailButtonInVis, .ResendEmailButtonVis {
    top: 90px;
    right: 10px;
    z-index: 40;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.35),0 6px 20px 0 rgba(0,0,0,.29);
    position: fixed
}

.ProfDetContainer {
    padding: 10px;
    height: 170px;
    margin-bottom: 1px
}

.ProfImageContainer {
    width: 20%;
    float: right
}

.ProfImage {
    width: 99%;
    height: 160px
}

.ProfDetTextContainer {
    width: 77%;
    float: left
}

.ProfNameTextContainer {
    font-size: 18px;
    width: 48%;
    float: right
}

.ProfComTextContainer {
    width: 48%;
    float: left;
    height: 140px;
    overflow: auto
}

@media only screen and (max-width:768px) {
    .ProfDetContainer {
        height: 170px
    }

    .ProfImageContainer {
        width: 25%;
        float: right
    }

    .ProfImage {
        padding-top: 10px;
        height: 150px
    }

    .ProfDetTextContainer {
        width: 71%
    }

    .ProfNameTextContainer {
        width: 100%
    }

    .ProfComTextContainer {
        display: none
    }
}

.MyColR {
    width: 48%;
    float: right
}

.MyColL {
    width: 48%;
    float: left
}

@media only screen and (max-width:768px) {
    .MyColL, .MyColR {
        width: 100%
    }
}

.CommentDetailes {
    width: 100%;
    overflow: auto;
    padding: 5px
}

.CommentDetailesInner {
    width: 100%;
    height: 300px;
    overflow: auto
}

.ResendEmailButtonVis {
    display: block
}

.ResendEmailButtonInVis {
    display: none
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: rgba(192,192,192,.5);
    border-radius: 10px
}

.MainCols, .MainColsText {
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.35),0 6px 20px 0 rgba(0,0,0,.29)
}

::-webkit-scrollbar-thumb:hover {
    background: silver
}

.HomeBackgroundImage {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url(../src/imgs/back.jpg);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px)
}

.HomeContent {
    color: #fff;
    position: relative;
    left: 0;
    right: 0;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px
}

.HeaderTextt {
    color: #fff;
    text-shadow: 2px 2px rgba(0,0,0,.5)
}

@media (max-width:768px) {
    .HomeBackgroundImage {
        background-image: url(../src/imgs/mobileback.jpg)
    }
}

.footer {
    background-color: #fff;
    color: #000;
    padding: 10px 20px
}

.footercontent {
    font-size: 14px
}

.MainCols {
    background-color: rgba(245,245,245,.45);
    color: #eaeaea;
    margin: 20px 0
}

.MainColsText {
    margin-top: 10px;
    background-color: rgba(245,245,245,.45);
    font-size: 20px;
    color: #000;
    padding: 10px 20px;
}

.BluerAdminHr {
    padding: 1px 5px;
    border-bottom: 1px solid rgba(0,0,0,.12)
}

.ProfAndCourseInnerHome {
    padding: 3px;
    height: 94px;
    width: 100%
}

.ProfAndCourse {
    width: 98%;
    color: #000
}

.ProfAndCourseInner2 {
    padding: 3px;
    margin: 9px 0;
    height: 160px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px
}

    .ProfAndCourseInner2:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.35),0 6px 20px 0 rgba(0,0,0,.29)
    }

.ProfAndCourseInner {
    padding: 3px;
    margin: 9px 0;
    height: 94px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px
}

    .ProfAndCourseInner:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.35),0 6px 20px 0 rgba(0,0,0,.29)
    }

.InnerLeft {
    float: left;
    margin-left: 10px;
    direction: ltr
}

.InnerRight {
    float: right
}

.InnerText2 {
    margin: auto;
    padding: 50px 0;
    font-size: 45px
}

.InnerText {
    margin: auto;
    padding: 30px 0
}

.GGold {
    color: gold
}

.navbar li .glyphicon {
    margin-left: 10px
}

.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:focus, .navbar .navbar-nav .active a:hover {
    background-image: none;
    background-color: #4189C7;
    color: #fff
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.KntuImage, .navbar-brand {
    float: right
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

.DropDownItem {
    margin: auto;
    width: 97%;
    text-align: right
}

@media (max-width:768px) {
    .navbar li a {
        float: right;
        margin: 2px auto;
        width: 98%;
        border: 1px solid #4189C7;
        border-radius: 3px
    }

    .dropdown-menu {
        float: right
    }
}

@media (min-width:768px) {
    .navbar li, .navbar ul, .navbar-header {
        float: right
    }

    .navbar .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0
    }

    .navbar .container-fluid {
        padding: 0;
        margin: 0
    }

        .navbar .container-fluid .navbar-brand {
            margin: 0
        }

    .navbar li {
        font-size: 15px;
        margin: 6px
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px
        }
}

.KntuImage {
    color: #c6c6c6;
    font-size: 40px;
    position: fixed;
    top: 5px
}

.HeaderText {
    float: left;
    font-weight: 700;
    color: #c6c6c6
}

.SearchBox {
    width: 200px;
    color: #000
}

.NewButtons {
    float: left;
    margin: 10px 5px
}

@media only screen and (max-width:768px) {
    .NewButtons {
        width: 95%;
        margin: 10px
    }

    .SearchBox {
        width: 95%;
        margin: auto
    }
}
.LongList{
    max-height:800px;
    overflow:auto;
}
.MyMultiSelect{
    float:right;
    margin-bottom:10px;
    text-align:right;
    direction:rtl;
    align-content:center
}